<button class="btn btn-secondary" type="button">
	Left
</button> 
<button class="btn btn-secondary" type="button">
	Center
</button> 
<button class="btn btn-secondary" type="button">
	Right
</button> 
<button class="btn btn-secondary" type="button">
	Justify
</button>


Ersetzen mit

<center>

<button class="btn btn-secondary" type="button">
	Left
</button> 
<button class="btn btn-secondary" type="button">
	Center
</button> 
<button class="btn btn-secondary" type="button">
	Right
</button> 
<button class="btn btn-secondary" type="button">
	Justify
</button>

</center>